body{
    background: #ccc;
} 
.container.app-content-container {
    margin-top: 50px;
}
  span.col-md-4{
    vertical-align: top;
    display: inline-block;
}
ul li{
    text-decoration:none; 
}
footer{
    margin:20px 20px;
    background:#fff;
    border-radius: 20px;
}
