body{
    background: #ccc;
} 
.container.app-content-container {
    margin-top: 50px;
}
ul{
    text-decoration:none;  
}
footer{
    margin:20px 20px;
    background:#fff;
    border-radius: 20px;
}
